<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
<%- include('../partials/header.ejs')%>
  <body>
    <main>
      <h2>Your Experiences</h2>
      <ul>
        <% for(let i = 0; i < entries.length; i++){ %>
      </ul>
      <ul> 
    <a href="/entries/<%= entries[i]._id %>"><%= entries[i].location %></a><% } %>
      </ul>
    </main>
    <h4><a href="/entries/new">Create New Post</a></h4>
  </body>
  <%- include('../partials/footer.ejs')%>
</html>
