<!DOCTYPE html>
<html lang="en">
  
<%- include('../partials/head.ejs')%>
 
<%- include('../partials/header.ejs')%>
  <body>
    <main>
      <h3>Your Experiences</h3>
      <ul>
        <% for(let i = 0; i < entries.length; i++){ %>

        <a href="/entries/<%= entries[i]._id %>"><%= entries[i].location %></a>

        <% } %>
      </ul>
    </main>
    <h5><a href="/entries/new">Create New Post</a></h5>
  </body>
  <footer><%- include('../partials/footer.ejs')%></footer>
</html>
