<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TravelMoire</title>
  </head>
  <body>
    <header>
      <h1><%= entry.location %></h1>
    <nav> 
    <ul>
    Title: <%= entry.title %><br>
    Body: <%= entry.body %><br>
    Image: <%= entry.image %>
    </ul>
    <section>
      <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
      </form>
      <section>
      <a href="/entries/<%= entry._id %>/edit">Edit</a>
    
    </section>
</nav>
</header>
</body>
</html>
