<!DOCTYPE html>
<html lang="en">
  <!-- ------------------Partials------------------ -->
    <%- include('../partials/head.ejs')%>
    <%- include('../partials/header.ejs')%>
    <body> 
    <main>
      <ul>
        <h1>Edit <%= user.username %>'s Info</h1>
      </ul>
    <!------------------- Edit Form -------------------->
      <form action="/users<%= user._id %>?_method=PUT" method="POST">
        <input type="text" name="username" value="<%= users.username%> " />
        <br />
        <input type="text" name="email" value="<%= user.email%> " />
      </form>
     
    </main>
  </body>
 <!------------- Footer Partial ---------------->
 <%- include('../partials/footer.ejs')%>
</html>